.cart {
    /* Remove the background and border styles */
    background: none;
    border: none;
    /* Add padding and margin to the modal body */
    padding: 20px;
    margin: 0;
  }
  
  
  /* Style the cart-closed button */
  .cart-closed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 36px;
    cursor: pointer;
  }

 
  .img-fluid:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
  }
  